.navbar {
    width: 100%;
    background-color: var(--color-grey-5);
    padding-top: 2rem;
    padding-bottom: 2.531rem;
}

.navbar-items{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.logo_first_Word{
    color: var(--color-brand-1);
}

@media (min-width: 700px) {
    .navbar-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.25rem;
    }
  }       