.logo_first_Word{
    color: var(--color-brand-1);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}
.logo_second_Word{
    color: var(--color-grey-1);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}
.title1{
    color: var(--color-grey-2);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}
.title2{
    color: var(--color-grey-2);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
}
.text1{
    color: var(--color-grey-2);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}
.text2{
    color: var(--color-grey-2);
    font-size: (--font-size-3);
    font-weight: var(--font-weight-3);
    line-height: var(--font-line-height-1);
}      